.ui-layout-pane {
    border: 0;
}
#logo{
    display:block;
    margin:auto;
}
/* .ui-widget-content {
	background: -webkit-radial-gradient(50% 75%,circle,#262626,#343434) !important;
}
.ui-widget-content {
	border-radius: 0px !important;
} */

.ui-widget-content button{
	background: #f6af3a !important;
	color: white !important;
}

.ui-widget-content button:hover{
	background: #fdc05c !important;
	color: white !important;
}

.ui-widget-content button:focus {
	outline:0;
}